export(sa_tramoseats,sa_x13,spec_create,
       spec_bool,
spec_fixedparams,
spec_nparams,
spec_bool,
proc_ts,
proc_desc,
proc_parameters,
proc_test,
proc_numeric,
proc_str,
ts_aggregate,
jd_cholette,
jd_denton,
jd_addFixedDay,jd_calendar,jd_addEasterRelatedDay,
jd_unregistercalendar,jd_registercalendar,jd_calendarData,jd_getcalendar,
spec_str,
x13Process,
tramoseatsProcess,jd_td,spec_strs,proc_regarima,proc_forecasting,
proc_outliers,proc_preprocessing,
jd_registerVariable,spec_int,jd_ws,
jd_processingNames,
jd_processing,
jd_processing_series,
jd_processing_numeric,
jd_processing_test,
jd_processing_ts,
jd_processing_item,jd_processing_testvalue
)

import(rJava)
exportMethods(getTs,getRegArima,print,show,plot,Summary)

exportClasses(JD_Output,JD_SA,JD_TramoSeats,JD_X13,JD_RegArima)